@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 70px;
}

header > p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 10vh;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(37, 37, 37);
    color: white;
}

.imagem > p {
    background-color: rgba(0, 0, 0, 0.527);
    width: 400px;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}